<ion-header>
    <ion-navbar color="secondary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Talia Page</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="row">
        <div class="col-sm-6">
            <div dnd-droppable [allowDrop]="allowDropFunction()" (onDropSuccess)="addToReactionComponents1($event);" [dropZones]="['demo1']"
                class="panel panel-info">
                <div class="panel-heading">Reaction_Components1</div>
                <div id="reacComp1">
                    <ion-card [hidden]="Reaction_Components1.length > 0" style="vertical-align: center; width: 125px; height: 125px; display: inline-block;background-color: rgb(197, 197, 197)">
                        <ion-label style="text-align: center;">Drag Here!</ion-label>
                    </ion-card>
                    <ion-card [hidden]="Reaction_Components1.length > 1" style="width: 125px; height: 125px; display: inline-block;background-color: rgb(197, 197, 197)">
                        <ion-label style="text-align: center;">Drag Here!</ion-label>
                    </ion-card>
                    <ion-card style="width: 125px; height: 125px; display: inline-block;" *ngFor="let product of Reaction_Components1" class="panel panel-default">
                        <div style="text-align: center" class="panel-body">
                            {{product.name}}
                        </div>
                        <img style="width: auto; height: 80px; padding: 10px; margin-left: auto; margin-right: auto" src={{product.img}}>
                    </ion-card>
                </div>
            </div>
        </div>
    </div>
    <div class="row2">
        <div class="col-sm-3">
            <div class="panel-heading">Available products</div>
            <div class="panel-body">
                <ng-container *ngFor="let material of existingIsFoundMaterials" class="availableMaterial" >
                        <ion-card class="availableMaterial" dnd-draggable [dragData]="material" [dropZones]="['demo1']">
                                <ion-label style="font-size: 10px;padding: 0%; text-align: center">
                                    <strong>{{material.name}}</strong>
                                </ion-label>
                                <img style=" width: auto; height: 30px; margin: auto" src= {{material.img}}>
                            </ion-card>
                </ng-container>
            </div>
        </div>
    </div>
    <button ion-button round outline (click)="checkCombo();" class="combineButton">Combine Reaction_Components1</button>
    <button ion-button round outline (click)="clearComponents()" class="clearButton">Clear Reaction</button>
    <div id="failureMessage">These elements do not combine : (</div>
    <div id="successMessage">These elements combine : ) </div>
    <div id="completionMessage">You have obtained the final product and completed the experiment!</div>
    <button ion-button round outline class="submitButton" (click)="openSubmitPage()">Submit Experiment</button>
</ion-content>