page-list {
    #addButton, #combinationsButton {
    display:block;
    float:center;
    width:50%;
    border: solid 2px;
    background: white;;
    border-color: #ff5c11;
    color: #ff5c11;
    margin: 20px auto;
    border-radius: 12px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    }
    #deleteButton {
        background: white;
    }
    #input-field {
        margin: 5px;
        background-color: #fc6d2c;
        border: solid 2px;    
    }
    #secondaryItem {
        background: color($colors, danger);
        color: white;
    }
    #materialCard {
        width: 115px; 
        height: 115px;
        display: inline-block;
    }
    #img {
        width: auto; 
        height: 80px; 
        padding: 10px; 
        margin-left: auto; 
        margin-right: auto;
    }
}
