<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>1/2</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-auto style="width: 80%">
          <h1>Step 1: Create Materials</h1>
      </ion-col>
      <ion-col col-auto style="width: 20%">
          <button id="combinationsButton" (click)="goToCombinationsPage()">Next</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <!-- ask Kmo how to aline text box -->
      <ion-col col-auto style="width: 70%">
          <ion-card id="secondaryItem">
              <h2 style="text-align: center; margin: 15px; color:white">Add Material</h2>
                <ion-item id="secondaryItem">
                  <ion-label style="color: white">Add Name</ion-label>
                  <ion-input id="input-field" type="text" [(ngModel)]="material.name"></ion-input>
                </ion-item>
                <ion-item id="secondaryItem">
                  <ion-label style="color: white">Definition</ion-label>
                  <ion-input id="input-field" type="text" [(ngModel)]="material.definition"></ion-input>
                </ion-item>
                <ion-item id="secondaryItem">
                  <ion-label style="color: white">Add Image</ion-label>
                  <ion-input id="input-field" type="text" [(ngModel)]="material.img"></ion-input>
                </ion-item>
                <ion-row>
                    <ion-item style="width: 50%"id="secondaryItem">
                        <ion-label style="color: white">Starting Material:</ion-label>
                        <ion-toggle [(ngModel)]="material.isStartingMaterial"></ion-toggle>
                  </ion-item>
                  <ion-item style="width: 50%"id="secondaryItem">
                      <ion-label style="color: white">Final Material:</ion-label>
                      <ion-toggle [(ngModel)]="material.isFinalMaterial"></ion-toggle>
                    </ion-item>
                </ion-row>
              <button ion-button round outline (click)="onSubmit()" id="addButton">Submit</button>
            </ion-card>
      </ion-col>
      <ion-col col-auto style="width: 30%">
          <div style="width: 90%">
              <p style="margin: 30px auto; font-size: 18px;">
                  <strong>To-Do: </strong>
                  <i> Complete the Add Material form to create all the materials for your lab.</i>
              </p>
              <p style="margin: 30px auto; font-size: 18px;">
                  <strong>Distinction: </strong>
                  <i>"Starting Materials" indicates the group of materials from which all other materials can be obtained through combination.</i>
              </p>
              <p style="margin: 30px auto; font-size: 18px;">
                  <strong>Distinction: </strong>
                  <i>The "Final Material" does not combine to form any new material. The goal of the lab is to obtain the <strong>final material.</strong></i>
              </p>
          </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <ion-item-divider color="primary">Starting Materials</ion-item-divider>
          <ng-container *ngFor="let material of materials">
              <ion-card *ngIf="material.isStartingMaterial"id="materialCard" style="margin: 20px auto" class="panel panel-default">
                  <div style="text-align: center" class="panel-body">
                      {{material.name}}
                  </div>
                  <img id="img" src= {{material.img}}>
                  <button id="deleteButton" (click)="preDeleteMaterial($event, material)"><ion-icon name="ios-trash"></ion-icon></button>
              </ion-card>
          </ng-container>
      </ion-col>
      <ion-col>
          <ion-item-divider color="primary">Intermediate Materials</ion-item-divider>
          <ng-container *ngFor="let material of materials">
              <ion-card *ngIf="!material.isStartingMaterial && !material.isFinalMaterial" id="materialCard" style="margin: 20px auto" class="panel panel-default">
                  <div style="text-align: center" class="panel-body">
                      {{material.name}}
                  </div>
                  <img id="img" src= {{material.img}}>
                  <button id="deleteButton" (click)="preDeleteMaterial($event, material)"><ion-icon name="ios-trash"></ion-icon></button>
              </ion-card>
          </ng-container>
      </ion-col>
      <ion-col>
          <ion-item-divider color="primary">Final Materials</ion-item-divider>
          <ng-container *ngFor="let material of materials">
              <ion-card *ngIf="material.isFinalMaterial" id="materialCard" style="margin: 20px auto" class="panel panel-default">
                  <div style="text-align: center" class="panel-body">
                      {{material.name}}
                  </div>
                  <img id="img" src= {{material.img}}>
                  <button id="deleteButton" (click)="preDeleteMaterial($event, material)"><ion-icon name="ios-trash"></ion-icon></button>
              </ion-card>
          </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>