<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <h1>Step 1: Create Materials</h1>
  <ion-card>
    <h2 style="text-align: center; margin: 15px">Add Material</h2>
    <div class="row">
      <ion-item>
        <ion-label>Add Name</ion-label>
        <ion-input id="input-field" type="text" [(ngModel)]="material.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Definition</ion-label>
        <ion-input id="input-field" type="text" [(ngModel)]="material.definition"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Add Img</ion-label>
        <ion-input id="input-field" type="text" [(ngModel)]="material.img"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Is it a starting material</ion-label>
        <ion-select id="input-field" [(ngModel)]="material.isStartingMaterial">
          <ion-option value="true">Yes</ion-option>
          <ion-option value="false">No</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Is it a final material</ion-label>
        <ion-select id="input-field" [(ngModel)]="material.isFinalMaterial">
          <ion-option value="true">Yes</ion-option>
          <ion-option value="false">No</ion-option>
        </ion-select>
      </ion-item>
    </div>
    <button ion-button round outline (click)="onSubmit()" id="addButton">Submit</button>
  </ion-card>
  <ng-template #noItems>
    <hr>
    <h5>There are no materials</h5>
  </ng-template>
  <ion-list>
    <ion-item-divider color="primary">Starting Materials</ion-item-divider>
    <ng-container *ngFor="let material of materials">
      <ion-card *ngIf="material.isStartingMaterial" style="width: 170px; height: 170px; display: inline-block;" class="panel panel-default">
        <ion-label style="text-align: center">
          <strong>{{material.id}}</strong>
        </ion-label>
        <ion-label style="text-align: center">{{material.definition}}</ion-label>
        <img style="padding: 5px; width: auto; height: 80px; padding: 10px; margin: auto" src= {{material.img}}>
        <a href="#" class="secondary-content">
          <ion-icon (click)="editMaterial($event, material)" name="md-create"></ion-icon>
        </a>
        <a href="#" class="secondary-content">
          <ion-icon *ngIf="editState && materialToEdit.id == material.id" (click)="clearState()" name="md-contract"></ion-icon>
        </a>
        </ion-card>
      <div *ngIf="editState && materialToEdit.id == material.id && material.isStartingMaterial">
        <div class="row">
          <ion-item>
            <ion-input type="text" [(ngModel)]="material.name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" [(ngModel)]="material.definition"></ion-input>
          </ion-item>
          <button ion-button round outline (click)="deleteMaterial($event, material)" style="border-color: white; color: white;background-color: rgb(128, 0, 0)">Delete Item</button>
          <button ion-button round outline (click)="updateMaterial(material)" type="submit" style="border-color: white; color: white; background-color: orange">Update Item</button>
        </div>
      </div>
    </ng-container>
        <ion-item-divider color="primary">Other Materials</ion-item-divider>
    <ng-container *ngFor="let material of materials">
      <ion-card *ngIf="!material.isStartingMaterial && !material.isFinalMaterial" style="width: 170px; height: 170px; display: inline-block;"
        class="panel panel-default">
        <ion-label style="text-align: center">
          <strong>{{material.id}}</strong>
        </ion-label>
        <ion-label style="text-align: center">{{material.definition}}</ion-label>
        <img style="padding: 5px; width: auto; height: 80px; padding: 10px; margin: auto" src= {{material.img}}>
        <a href="#" class="secondary-content">
          <ion-icon (click)="editMaterial($event, material)" name="md-create"></ion-icon>
        </a>
        <a href="#" class="secondary-content">
          <ion-icon *ngIf="editState && materialToEdit.id == material.id" (click)="clearState()" name="md-contract"></ion-icon>
        </a>
      </ion-card>
      <div *ngIf="editState && materialToEdit.id == material.id && !(material.isStartingMaterial && material.isFinalMaterial)">
        <div class="row">
          <ion-item>
            <ion-input type="text" [(ngModel)]="material.name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" [(ngModel)]="material.definition"></ion-input>
          </ion-item>
          <button ion-button round outline (click)="deleteMaterial($event, material)" style="border-color: white; color: white;background-color: rgb(128, 0, 0)">Delete Item</button>
          <button ion-button round outline (click)="updateMaterial(material)" type="submit" style="border-color: white; color: white; background-color: #0c265e">Update Item</button>
        </div>
      </div>
    </ng-container>
    <ion-item-divider color="primary">Other Materials</ion-item-divider>
    <ng-container *ngFor="let material of materials">
      <ion-card *ngIf="material.isFinalMaterial" style="width: 170px; height: 170px; display: inline-block;" class="panel panel-default">
        <ion-label style="text-align: center">
          <strong>{{material.id}}</strong>
        </ion-label>
        <ion-label style="text-align: center">{{material.definition}}</ion-label>
        <img style="padding: 5px; width: auto; height: 80px; padding: 10px; margin: auto" src= {{material.img}}>
        <a href="#" class="secondary-content">
          <ion-icon (click)="editMaterial($event, material)" name="md-create"></ion-icon>
        </a>
        <a href="#" class="secondary-content">
          <ion-icon *ngIf="editState && materialToEdit.id == material.id" (click)="clearState()" name="md-contract"></ion-icon>
        </a>
      </ion-card>
      <div *ngIf="editState && materialToEdit.id == material.id && material.isFinalMaterial">
        <div class="row">
          <ion-item>
            <ion-input type="text" [(ngModel)]="material.name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" [(ngModel)]="material.definition"></ion-input>
          </ion-item>
          <button ion-button round outline (click)="deleteMaterial($event, material)" style="border-color: white; color: white;background-color: rgb(128, 0, 0)">Delete Item</button>
          <button ion-button round outline (click)="updateMaterial(material)" type="submit" style="border-color: white; color: white; background-color: orange">Update Item</button>
        </div>
      </div>
    </ng-container>
  </ion-list>
  <button id="combinationsButton" (click)="goToCombinationsPage()">I'm Done: Build Combinations</button>
</ion-content>