page-list {
    #addButton {
    display:block;
    float:center;
    width:50%;
    border-color: color($colors, danger);
    margin: 20px auto;
    border-radius: 12px;
    color: white;
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
    }
}
