<ion-header>
    <ion-navbar color="secondary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-grid>
            <ion-row>
                <ion-title>Step 1: Create Materials</ion-title>
                <button style="width: 15%; margin: auto auto;" id="nextButton" (click)="goToCombinationsPage()">Next</button>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>
<ion-content >
    <h3 id="heading1">{{myLab.entryCode}}</h3>
    <ion-grid>
        <ion-row>
            <!-- ask Kmo how to aline text box -->
            <ion-col col-6 class="addCard" style="margin: 2% auto">
                <ion-card id="secondaryItem">
                    <u><h2 style="text-align: center; margin: 15px; color:white"><b>Add Material</b></h2></u>
                    <ion-item class="addMaterialCard" id="secondaryItem">
                        <ion-label style="color: white">Name Item  :</ion-label>
                        <ion-input  id="input-field" type="text" [(ngModel)]="newMaterial.name"></ion-input>
                    </ion-item>
                    <ion-item id="secondaryItem">
                        <ion-label style="color: white">Define Item:</ion-label>
                        <ion-input id="input-field" type="text" [(ngModel)]="newMaterial.definition"></ion-input>
                    </ion-item>
                    <ion-row>
                        <ion-item id="secondaryItem">
                        <button id="addIconButton" (click)="presentPopover()">
                            <ion-icon name="ios-camera-outline" ></ion-icon>
                        </button>
                        </ion-item>
                    </ion-row>
                    <ion-segment id="secondaryItem" [(ngModel)]="materialState" color="white">
                            <ion-segment-button  value="Starting Material">
                                Starting Material
                            </ion-segment-button>
                            <ion-segment-button value="Intermediate Material">
                                Intermediate Material
                            </ion-segment-button>
                            <ion-segment-button value="Final Material">
                                Final Material
                            </ion-segment-button>
                    </ion-segment>
                    <button ion-button round outline (click)="onSubmit(newMaterial)" id="submitButton">ADD</button>
                </ion-card>
            </ion-col>
            <ion-col col-6 style="margin: 2% auto">
                    <ion-segment style="background-color: #49a8e7" [(ngModel)]="materialShow" color="white"> <!-- #49a8e7 is color($colors, primary) but it won't work in this file -->
                            <ion-segment-button  value="Starting Material">
                                Starting Material
                            </ion-segment-button>
                            <ion-segment-button value="Intermediate Material">
                                Intermediate Material
                            </ion-segment-button>
                            <ion-segment-button value="Final Material">
                                Final Material
                            </ion-segment-button>
                    </ion-segment>
                    <div *ngIf="materialShow == 'Starting Material'">
                        <ng-container *ngFor="let material of getMyMaterials()">
                                <ion-card *ngIf="material.isStartingMaterial" class="materialCard" style="margin: 10px 10px">
                                    <div style="text-align: center" class="panel-body">
                                        <div id="cardText">
                                            {{material.name}}
                                        </div>
                                        <button id="deleteButton" (click)="preDeleteMaterial(material)">
                                            <ion-icon name="ios-trash"></ion-icon>
                                        </button>
                                    </div>
                                    <div>
                                        <img id="img" src= {{material.img}}>
                                    </div>
                                </ion-card>
                        </ng-container>
                    </div>
                    <div *ngIf="materialShow == 'Intermediate Material'">
                            <ng-container *ngFor="let material of getMyMaterials()">
                                    <ion-card *ngIf="!material.isStartingMaterial && !material.isFinalMaterial"  class="materialCard" style="margin: 10px 10px">
                                        <div style="text-align: center" class="panel-body">
                                            <div id="cardText">
                                                {{material.name}}
                                            </div>
                                            <button id="deleteButton" (click)="preDeleteMaterial(material)">
                                                <ion-icon name="ios-trash"></ion-icon>
                                            </button>
                                        </div>
                                        <div>
                                            <img id="img" src= {{material.img}}>
                                        </div>
                                    </ion-card>
                            </ng-container>
                    </div>
                    <div *ngIf="materialShow == 'Final Material'">
                            <ng-container *ngFor="let material of getMyMaterials()">
                                    <ion-card *ngIf="material.isFinalMaterial" class="materialCard" style="margin: 10px 10px">
                                        <div style="text-align: center" class="panel-body">
                                            <div id="cardText">
                                                {{material.name}}
                                            </div>
                                            <button id="deleteButton" (click)="preDeleteMaterial(material)">
                                                <ion-icon name="ios-trash"></ion-icon>
                                            </button>
                                        </div>
                                        <div>
                                            <img id="img" src= {{material.img}}>
                                        </div>
                                    </ion-card>
                            </ng-container>
                    </div>    
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>