page-home {
    #heading {
        text-align: center;
        margin: 20px;
    }
    #heading2 {
        text-align: center;
        color: color($colors, primary);
        margin: 20px;
    }
    #createButton {
        display:block;
        float:center;
        background-color: color($colors, secondary);
        margin: 20px auto;
        width: 30%;
        border-radius: 12px;
        color: white;
        padding: 20px;
        font-size: 16px;
        cursor: pointer;
    }
    #addTitle {
        background-color: rgb(44, 130, 133);
    }
    }