page-combinations {
    
    #combineButton, #refreshButton, #nextButton {
        display:block;
        float:center;
        border: solid 2px;
        background: white;;
        border-color:color($colors, update);
        color: color($colors, update);
        margin: 20px auto;
        border-radius: 12px;
        padding: 10px;
        font-size: 16px;
        cursor: pointer;
        }
    .draggableFields {
        vertical-align: center; 
        width: 115px; 
        height: 115px; 
        display: inline-block;
        color: white;
        background-color: color($colors, update);
    }
    #materialImg {
        width: auto; 
        height: 80px; 
        padding: 10px; 
        margin-left: auto; 
        margin-right: auto;
    }
    #materialCard {
        width: 115px; 
        height: 115px;
        display: inline-block;
    }
    .listMaterials {
        border: solid 1px; 
        background: rgba(73, 168, 231, 0.661);
        border-color: color($colors, primary);
        margin: 10px;
    }
    .directions {
        background: color($colors, update);
        color: white;
    }
    .comboList {
        color: color($colors, update);
    }
}