page-home {
#heading {
    text-align: center;
    margin: 20px;
}
#heading2 {
    text-align: center;
    color: color($colors, primary);
    margin: 20px;
}
#signinButton {
    vertical-align: center;
    background-color: color($colors, danger);
    margin: 20px 30px;
    width: 50%;
    border-radius: 12px;
    color: white;
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
}
#registerButton {
    vertical-align: center;
    width: 50%;
    background-color: color($colors, secondary);
    margin: 20px 30px;
    border-radius: 12px;
    color: white;
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
}
}