page-home {
#heading {
    text-align: center;
    margin: 20px;
}
#heading2 {
    text-align: center;
    color: color($colors, primary);
    margin: 20px;
}
#logoPic {
    display: block;
    height: 100px;
    margin: 8% auto;
}
#signinButton {
    display:block;
    float:center;
    background-color: color($colors, danger);
    margin: 20px auto;
    width: 30%;
    border-radius: 12px;
    color: white;
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 5px #fc6d2c;
    cursor: pointer;
    &:hover{
        opacity: 0.3;
   }
    &:active{
        opacity: 0.3;
        transform: translateY(4px);
    }
}
#registerButton {
    display:block;
    float:center;
    width: 30%;
    background-color: color($colors, primary);
    margin: 20px auto;
    border-radius: 12px;
    color: white;
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 5px #6f92dd;
    cursor: pointer;
    &:hover{
        opacity: 0.3;
   }
    &:active{
        opacity: 0.3;
        transform: translateY(4px);
    }
}
}