page-indivlab {
    #heading {
        text-align: center;
        margin: 20px;
        color: red;
    }
    #editButton {
        display:block;
        float:center;
        background-color: color($colors, secondary);
        margin: 20px auto;
        width: 30%;
        border-radius: 12px;
        color: white;
        padding: 20px;
        font-size: 16px;
        cursor: pointer;
    }
    #heading1 {
        text-align: center;
        margin: 30px 30px;
    }
    #playButton {
        display:block;
        float:center;
        width: 30%;
        border-color: color($colors, secondary);
        margin: 20px auto;
        border-radius: 12px;
        color: color($colors, secondary);
        padding: 20px;
        font-size: 16px;
        cursor: pointer;
    }
    #labPicture {
       display: block;
       margin-left: auto;
       margin-right: auto;
    }
}