<ion-header>
    <ion-navbar color="secondary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>
<ion-content>
        <ion-grid>
                <ion-row>
                        <ion-col col-6>
                            <h2 style="text-align: center; color: #0c265e"><b>Reaction</b></h2>
                            <div style="text-align: center;">
                                <div style="display: inline-block" dnd-droppable [allowDrop]="allowDropFunction()" (onDropSuccess)="addToReactionComponents1($event);"  [dropZones]="['demo1']"
                                class="panel panel-info">
                                    <ion-card [hidden]="Reaction_Components1.length > 0" style="margin: 20px 10px;" class="draggableFields">
                                        <ion-label style="text-align: center;">Reactant</ion-label>
                                    </ion-card>
                                    <ion-card [hidden]="Reaction_Components1.length > 1" style="margin: 20px 10px;" class="draggableFields">
                                        <ion-label style="text-align: center;">Reactant</ion-label>
                                    </ion-card>
                                    <ion-card class="materialCard" *ngFor="let product of Reaction_Components1" style="margin: 20px 15px">
                                        <div style="text-align: center" class="panel-body">
                                            {{product.name}}
                                        </div>
                                        <img id="img" src= {{product.img}}>
                                    </ion-card>
                                </div>
                            </div>
                            <button style="margin: 20px auto; width: 50%; vertical-align: center; margin-left: 25%; margin-right: 25%;" ion-button round outline (click)="checkCombo();" id="combineButton">Combine</button>
                            <button style="margin: 20px auto; width: 50%; vertical-align: center; margin-left: 25%; margin-right: 25%;" ion-button round outline (click)="clearState();" id="clearButton">Clear</button>
                            <div id="successMessage">These elements combine : ) </div>
                            <div id="failureMessage">These elements do not combine : (</div>
                            <div id="completionMessage">You have obtained the final product and completed the experiment!</div>
                            <button style="display: none; margin: 20px auto; width: 50%; vertical-align: center; margin-left: 25%; margin-right: 25;" ion-button round outline id="submitButton" (click)="goToProfilePage()">Submit Experiment</button>
                            <button style="display: none; margin: 20px auto; width: 50%; vertical-align: center; margin-left: 25%; margin-right: 25%;"ion-button round outline id="redoButton" (click)="preRedo()">Redo Experiment</button>
                        </ion-col>
                        <ion-col col-6 style="margin: 2% auto">
                                <ion-segment style="background-color: #82d86c" [(ngModel)]="showContent" color="white"> <!-- #82d86c is color($colors, delete) but it won't work in this file -->
                                        <ion-segment-button  value="Purpose">
                                            Purpose
                                        </ion-segment-button>
                                        <ion-segment-button value="Materials">
                                            Materials
                                        </ion-segment-button>
                                </ion-segment>
                                <div *ngIf="showContent == 'Materials'">
                                    <ng-container *ngFor="let material of existingIsFoundMaterials">
                                            <ion-card dnd-draggable  class="materialCard" style="margin: 10px 10px" [dragData]="material" [dropZones]="['preComps', 'postComps']">
                                                <div style="text-align: center" class="panel-body">
                                                    <div id="cardText">
                                                        {{material.name}}
                                                    </div>
                                                </div>
                                                <img id="img" src= {{material.img}}>
                                            </ion-card>
                                    </ng-container>
                                </div>
                                <div *ngIf="showContent == 'Purpose'">
                                            <h4>The Purpose Of This Lab: </h4>
                                            <p>blah blah blah blah blah blah</p> <!-- replace with {{myLab.purpose}} --> 
                                            <h4>The Goal Product: </h4>
                                            <ng-container *ngFor="let material of getMyMaterials()">
                                            <ion-card dnd-draggable *ngIf="material.isFinalMaterial" class="materialCard" style="margin: 10px 10px" [dragData]="material" [dropZones]="['preComps', 'postComps']">
                                                    <div style="text-align: center" class="panel-body">
                                                        <div id="cardText">
                                                            {{material.name}}
                                                        </div>
                                                    </div>
                                                    <img id="img" src= {{material.img}}>
                                                </ion-card>
                                        </ng-container>
                                </div>
                        </ion-col>
                </ion-row>
            </ion-grid>
</ion-content>